events {}
http {
  upstream corp_tower_workers {
{% for worker_ip in active_worker_private_ips %}
    server {{ worker_ip }}:3000;
{% endfor %}
  }
  server {
    listen 3000;
    location / {
      proxy_pass http://corp_tower_workers;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";
      proxy_set_header Host $host;
    }
  }
}
