[defaults]
forks = 10
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = roles
timeout = 20

[ssh_connection]
control_path_dir = ~/.ansible/cp
pipelining = True
retries = 2
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o PreferredAuthentications=publickey -o ServerAliveInterval=15 -o ServerAliveCountMax=2
